<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_DIR" value="src/main/resources/" />

    <appender name="EXPERIMENT" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/experiment.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="Experiment" level="DEBUG" additivity="false">
        <appender-ref ref="EXPERIMENT" />
    </logger>

    <appender name="RESULT" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/result.csv</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="Result" level="DEBUG" additivity="false">
        <appender-ref ref="RESULT" />
    </logger>

    <logger name="to.joeli" level="INFO" />
    <logger name="to.joeli.jass.client.strategy.training.Arena" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>