<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zuehlke" level="INFO" />
    <!-- Handy when we want to run the ArenaTest for seeing only relevant output
    <logger name="com.zuehlke.jasschallenge.client.game.strategy.JassTheRipperJassStrategy" level="OFF" />
    <logger name="com.zuehlke.jasschallenge.client.game.strategy.mcts.src.MCTS" level="OFF" />
    <logger name="com.zuehlke.jasschallenge.client.game.strategy.helpers.TrumpfSelectionHelper" level="OFF" />
    -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>